# Question II

Given two CSV files with data containing timestamps for each row, merge the two files
using their timestamps as the common key. If the timestamps do not match for a row in a
file then use the last available data. Create an application (command line or GUI based)
to visualize the combined data from the two CSV in real-time playback.

Approach used:
    1. importing liberaries
    2. generating fake data includes:
        1. datetime stamp
        2. Values
    3. writing down into two different csv Files
    4. reading as DataFrames
    5. Applying inner-Join and, testing:
        1. if anything in common or not
        Cases got from here:
            1. if found in  common - display the new dataFrame which as in common.
            2. if nothing in common - simply mering the dataframes and creating the  new dataframe with all the values.

## Importing Liberaries

In [1]:
#importing pandas
import pandas as pd

In [2]:
#importing other Liberaries
import random
import csv
import time
import datetime
from datetime import datetime
from datetime import timedelta

## Generating Fake Data

In [3]:
#function for generating random datetime Stamp in a given period
def random_date():
    start = datetime.strptime('1/1/2020 1:30 PM', '%m/%d/%Y %I:%M %p')
    end = datetime.strptime('1/1/2021 4:50 AM', '%m/%d/%Y %I:%M %p')
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = random.randrange(int_delta)
    return start + timedelta(seconds=random_second)

In [4]:

def values():
    digits = '0123456789'
    data = random.choice('12')
    for i in range(random.randint(1,2)):
        data += random.choice(digits)
    return data

## Writing down into CSV file

In [5]:
#for writing into data1.csv file or my first CSV file
with open('data1.csv','w',newline='') as f:
    w =csv.writer(f)
    w.writerow(['TIMESTMAP','Values1'])
   # start_time = time.time()
    for i in range(15000):
        # get_patient_data()
        w.writerow([random_date(),values()])
                   
    print("writen data to file1")

writen data to file1

In [6]:
#for writing into data1.csv file or my second CSV file
with open('data2.csv','w',newline='') as f:
    w =csv.writer(f)
    w.writerow(['TIMESTMAP','Values2'])
   # start_time = time.time()
    for i in range(15000):
        # get_patient_data()
        w.writerow([random_date(),values()])
                   
    print("writen data to file2")

writen data to file2

### Reading in form of DataFrames

In [39]:
# reading csv file1
df1 = pd.read_csv("data1.csv") 
df1 = df1.set_index('TIMESTMAP')

In [40]:
df1.head() #displaying first 5 values from data1.csv

                     Values1
TIMESTMAP
2020-12-07 15:07:58      171
2020-12-27 08:45:06      104
2020-07-12 19:00:13       16
2020-10-30 09:56:40       29
2020-01-30 14:43:48       20

In [41]:
# reading csv file2
df2 = pd.read_csv("data2.csv") 
df2 = df2.set_index('TIMESTMAP')

In [42]:
df2.head() #displaying first 5 values from data2.csv

                     Values2
TIMESTMAP
2020-05-18 02:24:37       12
2020-02-21 08:01:48      277
2020-01-24 04:19:57      196
2020-09-08 03:53:46      151
2020-04-16 15:31:17      279

### Checking if we have any timestamp in common

In [43]:
#let's check the common using inner join
inner_join_df= pd.merge(df1, df2, on='TIMESTMAP', how='inner')

In [44]:
#checking if we have any value in common or not
if inner_join_df.empty:
    print('there is  no timestamp in common!')
else: #if we df1 and df2 has anything in common
    print('having',inner_join_df.shape[0],'timestamp in common')

having 8 timestamp in common

#### Got the result for all the  common timestamps

In [45]:
#testing no value in inner_join_df
inner_join_df

                     Values1  Values2
TIMESTMAP
2020-02-20 22:59:59       29      258
2020-10-18 15:18:50      182      107
2020-03-31 11:10:59       26      266
2020-02-10 05:04:18      149      190
2020-10-23 11:56:01       25      123
2020-06-24 10:46:52      137      196
2020-12-29 04:35:02       18       11
2020-01-13 11:24:19       23      174

In [46]:
frames = [df1, df2]
result = pd.concat(frames)

In [47]:
result.head()

                     Values1  Values2
TIMESTMAP
2020-12-07 15:07:58    171.0      NaN
2020-12-27 08:45:06    104.0      NaN
2020-07-12 19:00:13     16.0      NaN
2020-10-30 09:56:40     29.0      NaN
2020-01-30 14:43:48     20.0      NaN

In [48]:
lst1 =df1['Values1'].to_list()

In [49]:
lst1[:5]

[171, 104, 16, 29, 20]

In [50]:
lst2 =df2['Values2'].to_list()

In [51]:
lst2[:5]

[12, 277, 196, 151, 279]

In [52]:
lst3  = lst1+lst2

In [53]:
lst3[:5]

[171, 104, 16, 29, 20]

In [54]:
lst3[-5:]

[135, 140, 27, 23, 28]

In [55]:
len(lst3)

30000

In [56]:
result.drop('Values1',
  axis='columns', inplace=True)

In [57]:
result.drop('Values2',
  axis='columns', inplace=True)

In [58]:
result.head()

Empty DataFrame
Columns: []
Index: [2020-12-07 15:07:58, 2020-12-27 08:45:06, 2020-07-12 19:00:13, 2020-10-30 09:56:40, 2020-01-30 14:43:48]

In [59]:
result["values"] = lst3

In [60]:
result.head()

                     values
TIMESTMAP
2020-12-07 15:07:58     171
2020-12-27 08:45:06     104
2020-07-12 19:00:13      16
2020-10-30 09:56:40      29
2020-01-30 14:43:48      20

In [61]:
dic = result.to_dict()

In [63]:
len(dic)

1